@charset "utf-8";
/* CSS Document */
h1 {
	color: white;
	font-family:Georgia, serif ;
	text-align: center;
}

li {
	color: white;
}
p {
	color:white;
}
body {
	background-size: 100%;
}

.text1{
	color: #8e051c;
}